<form action="EditMerchantCategory.php" method="POST">
<input type="hidden" name="id" value="<tmpl_var name='MerchantCategoryID'>">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
<td nowrap>Name:</td>
<td width="100%"><input type="text" name="Name" value="<tmpl_var name='Name'>"></td>
</tr>

  <tr>
    <td nowrap>&nbsp;</td>
    <td width="100%"><input type="submit" name="Submit" value="Submit"></td>
  </tr>
</table>
</form> 