<script language="javascript" src="<tmpl_var name='SITE_URL'>/global/scriptaculous/prototype.js"></script>
<script language="javascript">
function sortResults(column)
{
    $('cmd').value = "Sort";
    $('Sort').value = column;
    $('SearchResults').submit();
}

function gotoCurrentPage()
{
    $('cmd').value = "";
    $('page').value = $('CurrentPage').value - 1;
    $('SearchResults').submit();
}

function gotoPage(pageNum)
{
    $('cmd').value = "";
    $('page').value = pageNum;
    $('CurrentPage').value = pageNum+1;
    $('SearchResults').submit();    
}

function deleteMerchant(myMerchantID)
{
    var result = confirm("Are you sure you want to delete this Merchant?");
    
    if(result)
    {
        $('cmd').value = "Delete";
        $('deleteID').value = myMerchantID;
        $('SearchResults').submit();        
    }
}

function clearPage()
{
    $('CurrentPage').value = 1;    
}

function kH(e)
{
        var pK = e ? e.which : window.event.keyCode;

        if(pK == 13)
        {
                gotoCurrentPage();
        }
}

document.onkeypress = kH;
if (document.layers)
        document.captureEvents(Event.KEYPRESS);
        
</script>
<form action="index.php" method="GET" id="SearchResults">
<input type="hidden" name="cmd" value="" id="cmd">
<input type="hidden" name="deleteID" id="deleteID" value="">
<input type="hidden" name="page" value="<tmpl_var name='page'>" id="page">
<input type="hidden" name="Search" value="Search">
<input type="hidden" name="sort" id="Sort" value="<tmpl_var name='sort'>">
<input type="hidden" name="prevSort" id="PrevSort" value="<tmpl_var name='sort'>">
<input type="hidden" name="sortDir" id="SortDir" value="<tmpl_var name='sortDir'>">
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td colspan="4" style="padding:0px 0px 0px 0px;">
      <table border="0" cellspacing="0" cellpadding="3" width="100%">
        <tr class="tableRow">
        <td align="left" nowrap>
          Displaying <tmpl_var name='Min'> to <tmpl_var name='Max'> of <tmpl_var name='Total'>
        </td>
        <td align="center" width="100%">
          <a href="javascript:gotoPage(0);">&lt;&lt;</a>&nbsp;
          <a href="javascript:gotoPage(<tmpl_var name='PrevPage'>);">&lt;</a>
          <input type="text" size="3" value="<tmpl_var name='CurrentPage'>" name="CurrentPage" id="CurrentPage"> of <tmpl_var name='PageCount'>
          <a href="javascript:gotoPage(<tmpl_var name='NextPage'>);">&gt;</a>
          <a href="javascript:gotoPage(<tmpl_var name='MaxPage'>);">&gt;&gt;</a>&nbsp;
        </td>
        <td align="right" nowrap>
          Search: <input type="text" name="keywords" value="<tmpl_var name='keywords'>">
          <input type="button" name="Go" value="Go" onclick="clearPage();gotoCurrentPage();">
        </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tableHeader">
    <td width="33%"><a href="javascript:sortResults('Name')" style="color:#FFFFFF;">Business Name</a></td>
    <td width="33%"><a href="javascript:sortResults('Address1')" style="color:#FFFFFF;">Address</a></td>
    <td width="34%"><a href="javascript:sortResults('Email')" style="color:#FFFFFF;">Email</a></td>
    <td nowrap>Functions</td>
  </tr>
  <tmpl_if name='HasMerchants'>
  <tmpl_loop name='Merchants'>
    <tr class="tableRow" onmouseover="this.className='tableRowHover'" onmouseout="this.className='tableRow'">
      <td width="33%"><a href="EditMerchant.php?id=<tmpl_var name='MerchantID'>"><tmpl_var name='Name'></a></td>
      <td width="33%"><tmpl_var name='Address1'> <tmpl_var name='Address2'></td>
      <td width="33%"><tmpl_if name='Email'><a href="mailto:<tmpl_var name='Email'>"><tmpl_var name='Email'></a></tmpl_if></td>
      <td nowrap><a href="javascript:deleteMerchant(<tmpl_var name='MerchantID'>)">Delete</a></td>
    </tr>
  </tmpl_loop>
  <tmpl_else>
  <tr><td colspan="4" align="center">No Merchants</td></tr>
  </tmpl_if>
  <tr>
    <td colspan="4"><a href="EditMerchant.php">Add Merchant</a></td>
  </tr>
</table>
</form>

