<?php
print "<script>";
print " self.location='index.php';";
print "</script>";
?>



<!---

<frameset rows="25,*" frameborder="no">
  <frame src="topnav.php" name="topnav" id="topnav" scrolling="no">
  <frame src="index.php" name="main" id="main" style="border-width:1px;border-color:#000000;border-style:solid;padding-left:0px;">
</frameset>

--->