body, td, th
{
	font-family:Arial;
	font-size:12px;
}

.tableHeader{
	color: #FFFFFF; 
	padding:2px; 
	background-color: #000000;
}

.tableRow
{
	font-family:Arial;
	font-size:12px;
    border-bottom: solid #cccccc; 
    border-width: 1px; 
    color: #000000; 
    background-color: #f3f3f3;	
}

.tableRow td
{
    padding:2px 2px 2px 2px; 
}

.tableRowHover
{
	font-family:Arial;
	font-size:12px;
    border-bottom: solid #cccccc; 
    border-width: 1px; 
    color: #000000; 
    padding:2px; 
	background-color:#AAAAFF;
}

.tableRowHover td
{
    padding:2px 2px 2px 2px; 
}


.title
{
	font-family:Arial;
	font-size:16px;
	font-weight: bold;
	
}

.nav_normal
{
	font-family:Arial;
	font-size:12px;
	background-image: url('../global/images/nav_background.gif');
	height:25px;
}

.nav_hover
{
	font-family:Arial;
	font-size:12px;
	font-weight: bold;
	background-image: url('../global/images/nav_background.gif');
	height:25px;
}
.fontsm {
	font-family:Arial;
	font-size:10px;
}
.menu_title {
	font-family:Arial;
	font-size:13px;
	font-weight: bold;
	color: #FFFFFF;
}
	a:link{ color: #343434; TEXT-DECORATION: none; font-family: Tahoma, Arial, Helvetica; }
	a:visited{ color: #343434; TEXT-DECORATION: none; font-family: Tahoma, Arial, Helvetica; }
	a:active{ color: #343434; TEXT-DECORATION: none; font-family: Tahoma, Arial, Helvetica; }
	a:hover{ color: #990000; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Helvetica; }

	a.menu:link{ color: #343434; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Helvetica; }
	a.menu:visited{ color: #343434; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Helvetica; }
	a.menu:active{ color: #343434; TEXT-DECORATION: underline; font-family: Tahoma, Arial, Helvetica; }
	a.menu:hover{ color: #FFFFFF; TEXT-DECORATION: none; font-family: Tahoma, Arial, Helvetica; }
