You requested your account password to be reset.

The email address for the account is : <tmpl_var name='username'>

The new password for the account is: <tmpl_var name='password'>


You may login to your account from the following URL:

http://www.assoceng.com/access.html


Associated Engineering Group, Inc.
4206 Technology Drive
Modesto, CA 95356
Ph: (209) 545-3390
Fax: (209) 545-3875

www.assoceng.com