<html>
<head>
<title>Account Administration</title>
<link rel='stylesheet' type='text/css' href="<tmpl_var name='SITE_URL'>/global/styles.css">
</head>
<body bgcolor="#FFFFFF" marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
<table width="100%" border="0" cellspacing="7" cellpadding="0">
  <tr>
    <td width="100%" valign="top">

    <tmpl_var name='content'>
    

    </td>
  </tr>
</table>
</body>
</html>